html {
    font-family: 'Courier New', Courier, monospace;
}

.heading1{
    font-size: 100px;
    font-weight: 900;
}

ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    font-weight: 900;
    font-size: 50px;
}

.information-header-text {
    font-size: 42px;
    font-weight: 900;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    padding: 16px 32px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
}

.about {
    display: flex;
    gap: 80px;
}

.body {
    display: flex;
    background-color: #1F2937;
    flex: 1;
    flex-direction: column;
}

.first {
    font-size: 32px;
    padding: 120px 50px;
    gap: 120px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first > .container {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.signup {
    font-size: 20px;
    font-weight: 900;
    width: 160px;
    height: 40px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    border: none;
    background-color: #3882f6;
}

.second {
    font-size: 32px;
    padding: 120px 50px;
    gap: 120px;
    color: #1F2937;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.symbols-container {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    text-align: center;
}

.symbols {
    border: 8px solid #3882f6;
    border-radius: 28px;
}

.third {
    font-size: 60px;
    font-style: italic;
    padding: 120px 250px;
    gap: 50px;
    color: #1F2937;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buddha {
    font-weight: 900;
    align-self: flex-end;
}

.fourth {
    padding: 120px 100px;
    color: #ffffff;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal {
    font-size: 25px;
    border-radius: 16px;
    padding: 100px 200px;
    gap: 80px;
    background-color: #3882f6;
    display: flex;
    align-items: center;
}

.modal-header {
    font-size: 40px;
    font-weight: 900;
}

.signup2 {
    font-size: 30px;
    font-weight: 900;
    width: 200px;
    height: 60px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 3px solid white;
    background-color: #3882f6;
}

.footer {
    padding: 50px;
    font-size: 30px;
    background-color: #1F2937;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


